*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    
   
}
body{

    background: #FFF;
    align-items: center;  
    padding-top: 50px;
   
  
}

header{
    text-align: center;
    
    margin-left:50px;
 
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    
   
   
}
/* banner title */
.banner-ti{
    align-items: center;
    font-family: 'Merriweather';
}
.banner-ti h1{
    color: #FFF;


    font-size: 72px;

    font-weight: 900;   
    ma
    line-height: 95px; 

}
.banner-ti h3{
    color: #FFF;

    padding-top: 200px;
    font-size: 32px;

    font-weight: 400;

}
main{
    width: 100%;
}

.catagory{
    margin-top: 70px;
    width: 100%;
  
   
}
.catagory h1{
    color: #F00;
text-align: center;
font-family:'Inter';
font-size: 88px;
margin-top: 70px;
font-weight: 700;


}
.catagory p{
    margin-top: 20px;
    color: #F00;
text-align: center;
font-family: 'Inter';
font-size: 24px;

font-weight: 500;


}
.catagory h3{
    color: #070211;
text-align: center;
font-family: 'Inter';
font-size: 48px;
margin-top: 10px;
font-weight: 700;
line-height: normal;
}
.new-img{
    margin-top: 50px;
   margin-left: 350px;
   margin-right: 349.1px;
    width: 802.9px;
height: 500px;
flex-shrink: 0;
justify-content: center;
display: flex;
align-items: center;

}
/* midnight content */

.midnight{
    position: relative;

margin-top: 120px;
    
    margin-left:50px;
 
    background: linear-gradient(90deg, #070221 0%, rgba(7, 2, 17, 0.00) 100%),url(Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    display: flex;
    
  

}



.midnight-text{
    padding-top: 150px;
    padding-left:  auto;
   
    
    
 }

.welcome{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
    align-items: center;
    margin-left: 120px;
 
}
.welcome2{    
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;
    align-items: center;
    margin-left: 120px;
   }
    

.midnight-p{
    margin-left: 120px;
    color: rgba(255, 255, 255, 0.80);
font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 697px;
margin-bottom: 50px;


}
.midnight-join{
    margin-top: 48px;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    margin-left: 140px ;
    text-decoration: none;
    margin-top: 120px;
  
    
}

/* park section */

.park-section{
    text-align: center;
    
    margin-left:50px;
 
    margin-top: 80px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.park-content{
    display: block;
    justify-content: center;
    align-items: center;
   padding: 100px 0px;
}
.park-content p{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    color: #070211;

}
.park-content span{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
    color: #FF0000;

}
.park-content button{
    display: flex;
    justify-content: center;
    width: 167px;
    height: 56px;
    background-color: #FF0000;
    color: #FFFFFF;
    align-items: center;
    margin: 10px auto;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}
/* offer section */
.offer-section{
    text-align: center;
    
    margin-left:50px;
 
    margin-top: 60px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image:  linear-gradient(180deg, rgba(246, 243, 243, 0.1) 0%, rgba(237, 232, 232, 0) 100%);

}

.offer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.offer-1 span{
    font-size: 24px;
    font-weight: 400px;
    color: #FF0000;
    text-align: left;
}
.offer-1 h3{
    font-size: 48px;
    font-weight: 800px;
    color: #070211;
    padding: 10px 0px;
    text-align: left;
}
.offer-1 p{
    width: 393px;
    font-size: 20px;
    color: #070211;
    text-align: left;

}
.offer-2 {
    adding-right: 0;
}
.Ellipse{
    width: 364px;
    height: 364px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #FF0000;
    padding: 15px;
}

.offer-3{
    padding-right: 0;

}
.offer-3 h3{
    font-size: 48px;
    text-align: left;
    font-weight: bold;
    color: #FF0000;
    padding-bottom: 15px;

}
.offer-3 p{
    width: 276px;
    font-size: 20px;
    color: #070211;
    padding-bottom: 30px;
}
.group96{
    width: 140px;
    height: 140px;

}
/* holiday */
.holiday-section{
    padding: 45px 0px;
   
    text-align: center;
    
    margin-left:50px;
 
    margin-top: 60px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image:  linear-gradient(180deg, rgba(246, 243, 243, 0.1) 0%, rgba(237, 232, 232, 0) 100%);

    
    
    
}
.holiday-content{
    align-items: center;
    margin: auto;
}
.holiday-content span{
   display: block;
    color: #070211;
    font-size:24px;
    font-weight: 400;
    text-align: center;
 
}
.holiday-content h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 72px;
    color: #FF0000;
    font-weight: bold;
    padding-top: 15px;

}
.holiday-content  h1 .span{
    text-align: center;
    font-size: 72px;
    color: #070211;
    font-weight: bold;

}
.holiday-content p{
    width: 1068px;
    margin:0px auto;
    text-align: center;
    color: #070211;
    font-size: 20px;
    font-weight: 400;
    padding-top: 15px;
    padding: 0px 100px;
    line-height: 36px;
    
}
.box-content{
  

}
.holiday-box{

    margin-top: 45px;
    position: relative;
  
   
}
.holibox{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px ;

}
.holiday-boxleft{
    position: relative;
    
}
.holiday-boxleft img{
    position: absolute;
    left: 0;
    top: -125px;
    width: 674px;
    height: 577px;
 
   
}
.holidaybox-right{
    position: relative;
    padding: 0;
    margin: 0;
    

}
.holidaybox-right img{   
    width: 429px;
    height: 440px;
    margin-top:55px ;
   
    
    

}
.discount-photo{
    position: absolute;
    width:220px ;
    height: 200px;
    border-radius: 50%;
    left: -50%;
    
}
.backcolor{
    padding: 0;
    margin: 0;
    height: 229px;
    background-color: #FF0000;
    border-radius: 10px;
    z-index: 100;
}
/* card section */

.card-section{
  
   
   
    
 
    margin-top: 130px;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
  
    border-radius: 16px;
    background-image:  linear-gradient(180deg, rgba(246, 243, 243, 0.1) 0%, rgba(237, 232, 232, 0) 100%);

    
  

}
.paragraph1{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
   

}
.card-content h1{
    font-size: 48px;
    text-align: left;
    color: #070211;
    font-weight: bold;
    padding-top: 15px;

}
.p2{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    text-align: left;/* 160% */
}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45px;
}
.box img{
    width: 424px;
    height: 450px;
    margin-bottom: 20px;
}

/* mail section */
.mail-section{


    background: rgba(255, 0, 0, 0.05);
    background-image:  linear-gradient(180deg, rgba(246, 243, 243, 0.1) 0%, rgba(237, 232, 232, 0) 100%);
    
margin-top: 130px;
background-repeat: no-repeat;
width: 1320px;
height: 500px;

border-radius: 16px;
align-items: center;
display: block;
justify-content: center;
text-align: center;
    

/* .mail-content{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #ffe5e5;

} */
.mail-photo{
    
    display:flex;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: auto;
}
.mail-content h3{
    font-size: 48px;
    text-align: center;
    padding-top: 25px 0px;
    color: #070211;
    font-weight: bold;
}
.mail-content p{
    width: 896px;
    font-size: 20px;
    color: #070211;
    text-align: center;
    padding-bottom:25px ;
    margin: auto;
 
    font-style: normal;
    font-family: 'Inter', sans-serif;


}
.form-section{
    display: flex;
    justify-content:center;
    align-items: center;
}
.mail-content form{
   
    padding: 25px 0px 75px 0px;
}
.mail-content  form input{
    width: 450px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    
    margin: auto;
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    color: #070211;
    border-radius: 15px;
    border: 0;
}
.mail-content form button{
    width: 210px;
    height: 72px;
    border: 0;
    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 15px;
    border: 0;
}

/* footer */
.footer{
    background-color: #070211;
    padding:100px 0px;
    margin-top: 75px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.footer-left p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400px;
    line-height: 36px;

}
.footer-first-list{
    display: block;
    align-items: center;
    margin-right: 200px;

}
.footer-first-list li{
    list-style: none;
    margin-top: 5px;
 

}
.footer-first-list li img{
    margin-top: 5px;
    width: 24px;
    height: 24px;
   
}
.footer-first-list li a{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 15px;
    text-decoration: none;
}
.icon-section{
    padding: 45px 0px;
}
.icon-section ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-section ul li{
    margin: 0px 10px;
}
.icon-section ul li img{
    width: 64px;
    height: 64px;
}
hr{
    background: #FF0000;
}
.copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.copy-right small{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}