*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    
   
}
body{

    background: #FFF;
    align-items: center;  
    padding-top: 50px;
   
  
}

header{
    text-align: center;
    
    margin-left:50px;
 
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(Banner\ Image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    
   
   
}
/* banner title */
.banner-ti{
    align-items: center;
    font-family: 'Merriweather';
}
.banner-ti h1{
    color: #FFF;


    font-size: 72px;

    font-weight: 900;
    line-height: 95px; 

}
.banner-ti h3{
    color: #FFF;

    padding-top: 200px;
    font-size: 32px;

    font-weight: 400;

}
main{
    width: 100%;
}

.catagory{
    margin-top: 70px;
    width: 100%;
  
   
}
.catagory h1{
    color: #F00;
text-align: center;
font-family:'Inter';
font-size: 88px;
margin-top: 70px;
font-weight: 700;

}
.catagory p{
    margin-top: 20px;
    color: #F00;
text-align: center;
font-family: 'Inter';
font-size: 24px;

font-weight: 500;


}
.catagory h3{
    color: #070211;
text-align: center;
font-family: 'Inter';
font-size: 48px;
margin-top: 10px;
font-weight: 700;
line-height: normal;
}
.new-img{
    margin-top: 50px;
   margin-left: 350px;
   margin-right: 349.1px;
    width: 802.9px;
height: 500px;
flex-shrink: 0;
justify-content: center;
display: flex;
align-items: center;

}